{% extends "layout.html" %}

{% block content %}

<!-- CARD STATISTIK -->
<div class="cards">
    <div class="card">
        <p>Total User</p>
        <h2>100</h2>
    </div>
    <div class="card">
        <p>Food Detection</p>
        <h2>150</h2>
    </div>
</div>

<!-- CHARTS -->
<div class="charts">
    <!-- Activity Chart -->
    <div class="box chart-box">
        <h3 class="chart-title">User Activity</h3>
        <canvas id="lineChart"></canvas>
    </div>

    <!-- BMI Chart -->
    <div class="box chart-box">
        <h3 class="chart-title">BMI Distribution</h3>
        <canvas id="pieChart"></canvas>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
{% endblock %}
